<p id="notice"><%= notice %></p>

<p>
  <h2><%= @country.name %></h2>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @country.currency_code %>
</p>

<p>
  <strong><%= @country.to_currency %></strong>
  <%= @to_value %>
</p>

<%= link_to 'Edit', edit_country_path(@country), class: 'btn btn-warning' %>
<%= link_to 'Back', countries_path, class: 'btn btn-success' %>
